/* quarto syntax highlight colors */
:root {
  --quarto-hl-ot-color: #F2F5FF;
  --quarto-hl-at-color: #FFC843;
  --quarto-hl-ss-color: #09CE7C;
  --quarto-hl-an-color: #E4EAFF;
  --quarto-hl-fu-color: #02B3E3;
  --quarto-hl-st-color: #09CE7C;
  --quarto-hl-cf-color: #FF6B00;
  --quarto-hl-op-color: #E4EAFF;
  --quarto-hl-er-color: #FF4239;
  --quarto-hl-bn-color: #FF4239;
  --quarto-hl-al-color: #FF4239;
  --quarto-hl-va-color: #FAFBFF;
  --quarto-hl-bu-color: inherit;
  --quarto-hl-ex-color: inherit;
  --quarto-hl-pp-color: #FF4239;
  --quarto-hl-in-color: #E4EAFF;
  --quarto-hl-vs-color: #09CE7C;
  --quarto-hl-wa-color: #E4EAFF;
  --quarto-hl-do-color: #E4EAFF;
  --quarto-hl-im-color: #FFC843;
  --quarto-hl-ch-color: #09CE7C;
  --quarto-hl-dt-color: #FF4239;
  --quarto-hl-fl-color: #FF4239;
  --quarto-hl-co-color: #E4EAFF;
  --quarto-hl-cv-color: #E4EAFF;
  --quarto-hl-cn-color: #FF6B00;
  --quarto-hl-sc-color: #E4EAFF;
  --quarto-hl-dv-color: #FF4239;
  --quarto-hl-re-color: #02B3E3;
  --quarto-hl-kw-color: #FAFBFF;
}

/* other quarto variables */
:root {
  --quarto-font-monospace: "IosevkaTerm Web";
}

pre > code.sourceCode > span {
  color: #FAFBFF;
}

code span {
  color: #FAFBFF;
}

code.sourceCode > span {
  color: #FAFBFF;
}

div.sourceCode,
div.sourceCode pre.sourceCode {
  color: #FAFBFF;
}

code span.ot {
  color: #F2F5FF;
  font-style: inherit;
}

code span.at {
  color: #FFC843;
  font-style: inherit;
}

code span.ss {
  color: #09CE7C;
  font-style: inherit;
}

code span.an {
  color: #E4EAFF;
  font-style: inherit;
}

code span.fu {
  color: #02B3E3;
  font-style: inherit;
}

code span.st {
  color: #09CE7C;
  font-style: inherit;
}

code span.cf {
  color: #FF6B00;
  font-style: inherit;
}

code span.op {
  color: #E4EAFF;
  font-style: inherit;
}

code span.er {
  color: #FF4239;
  font-style: inherit;
}

code span.bn {
  color: #FF4239;
  font-style: inherit;
}

code span.al {
  color: #FF4239;
  font-style: inherit;
}

code span.va {
  color: #FAFBFF;
  font-style: inherit;
}

code span.bu {
  font-style: inherit;
}

code span.ex {
  font-style: inherit;
}

code span.pp {
  color: #FF4239;
  font-style: inherit;
}

code span.in {
  color: #E4EAFF;
  font-style: inherit;
}

code span.vs {
  color: #09CE7C;
  font-style: inherit;
}

code span.wa {
  color: #E4EAFF;
  font-style: italic;
}

code span.do {
  color: #E4EAFF;
  font-style: italic;
}

code span.im {
  color: #FFC843;
  font-style: inherit;
}

code span.ch {
  color: #09CE7C;
  font-style: inherit;
}

code span.dt {
  color: #FF4239;
  font-style: inherit;
}

code span.fl {
  color: #FF4239;
  font-style: inherit;
}

code span.co {
  color: #E4EAFF;
  font-style: inherit;
}

code span.cv {
  color: #E4EAFF;
  font-style: italic;
}

code span.cn {
  color: #FF6B00;
  font-style: inherit;
}

code span.sc {
  color: #E4EAFF;
  font-style: inherit;
}

code span.dv {
  color: #FF4239;
  font-style: inherit;
}

code span.re {
  color: #02B3E3;
  font-style: inherit;
}

code span.kw {
  color: #FAFBFF;
  font-style: inherit;
}

.prevent-inlining {
  content: "</";
}

/*# sourceMappingURL=bf383f01e2623ba2d2fe4a4eed6a3735.css.map */
