// @import url("https://unpkg.com/open-props/colors-oklch.min.css");
// @import url("https://unpkg.com/open-props/oklch-hues.min.css");

/*-- scss:defaults --*/

/*-- scss:rules --*/


:root {
  --mermaid-bg-color: $body-bg;
  --mermaid-label-bg-color: $body-bg;
  --bs-nav-tabs-border-color: $bs-nav-tabs-border-color;
  --callout-color-info: $callout-color-info;
  --callout-color-tip: $callout-color-tip;
  --callout-color-warning: $callout-color-warning;
  --callout-color-caution: $callout-color-caution;
  --callout-color-important: $callout-color-important;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  --red-text: $red-text;
  --orange-text: $myorange;
  --yellow-text: $yellow-text;
  --green-text: $green-text;
  --blue-text: $myblue;
  --purple-text: $mypurple;
  --pink-text: $mypink;
  --hypothesis-other-content-color: $yellow-text;
  --hypothesis-other-content-secondColor: $green-text;
  --hypothesis-other-content-thirdColor: $pink-text;
  --hypothesis-user-annotations-color: $blue-text;
  --hypothesis-user-annotations-secondColor: $yellow-text;
  --hypothesis-user-annotations-thirdColor: $pink-text;
  --hypothesis-user-highlights-color: $pink-text;
  --hypothesis-user-highlights-secondColor: $mypurple;
  --hypothesis-user-highlights-thirdColor: $mypink;
  --quarto-font-monospace: 'IBM Plex Mono', SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", " Courier New", monospace;
  --bs-font-monospace: 'IBM Plex Mono', monospace;
  --quarto-border-color: $quarto-border-color;
  --shadow-color: $shadow-color;
  --bg-transparent: $bg-transparent;
  --bs-table-striped-color: $bs-table-striped-color;
  --brighter-text: $brighter-text;
  --bright-text: $bright-text;
  --alt-text: $alt-text;
  --dim-text: $dim-text;
  --dim-color: $dim-color;
  --callout-tip-color: $callout-tip-color;
  --callout-note-color: $callout-note-color;
  --callout-note-color: $callout-note-color;
  --callout-warning-color: $callout-warning-color;
  --callout-important-color: $callout-important-color;
  --callout-caution-color: $callout-caution-color;
  --green-text: $green-text;
  --red-text: $red-text;
  --blue-text: $blue-text;
  --body-bg: $body-bg;
  --alt-bg: $alt-bg;
  --body-color: $body-color;
  --link-color: $link-color;
  --link-bg-color: $link-bg-color;
  --link-border-radius: $link-border-radius;
  --italic-color: $italic-color;
  --strong-color: $strong-color;
  --selection-bg: $selection-bg;
  --selection-color: $selection-color;
  --code-fg: $code-fg;
  --code-block-bg-color: $code-block-bg-color;
  --code-block-bg: $code-block-bg;
  --code-block-border-color: $code-block-border-color;
  --code-block-block-shadow: $code-block-block-shadow;
  --code-block-hover-box-shadow: $code-block-hover-box-shadow;
  --dark-bg-code-color: $dark-bg-code-color;
  --dark-bg-code-bg: $dark-bg-code-bg;
  --code-color: $dark-bg-code-color;
  --code-line-number-color: $code-line-number-color;
  --code-bg: $dark-bg-code-bg;
  --blockquote-bg: $bg-transparent;
  --blockquote-border: $blockquote-border;
  --blockquote-text: $blockquote-text;
  --nav-link-padding-y: $bs-nav-link-padding-y;
  --nav-link-padding-x: $bs-nav-link-padding-x;
  --navbar-bg: $navbar-bg;
  --navbar-fg: $navbar-fg;
  --font-family-headings: $font-family-headings;
  --code-bg: $code-bg;
  --code-fg: $code-color;
  --link-color: $link-color;
  --link-bg-color: $link-bg-color;
  --red-sf: $myred;
  --r-link-color: $link-color;
  --orange-sf: $myorange;
  --yellow-sf: $myyellow;
  --green-sf: $mygreen;
  --blue-sf: $myblue;
  --purple-sf: $mypurple;
  --pink-sf: $mypink;
  --dim-sf: $dim-text;
  --bright-sf: $bright-text;
  --card-height: 33vh;
  --card-height: 33vh;
  --card-width: 50%;
  // -webkit-font-smoothing: antialiased;
  // --card-width: calc(var(--card-height) / 1.5);
}

.navbar>.container-xxl,
.navbar>.container-xl,
.navbar>.container-lg,
.navbar>.container-md,
.navbar>.container-sm,
.navbar>.container,
.navbar>.container-fluid {
  // max-width: 1300px;
  margin: 0 auto;
}

.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active {
  color: $dim-text;
}


.navbar #quarto-search.type-overlay .aa-Autocomplete svg.aa-SubmitIcon {
  width: 20px;
  height: 20px;
  color: $dim-text;
  opacity: 1;
}

.navbar {
  position: relative;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  background-color: $navbar-bg;
  color: $navbar-fg;
  font-family: $font-family-headings;
}


.navbar-dark,
.navbar[data-bs-theme="dark"] {
  --bs-navbar-color: #adadad;
  --bs-navbar-hover-color: $link-color-hover;
  --bs-navbar-disabled-color: rgba(173, 173, 173, 0.75);
  --bs-navbar-active-color: rgba(red($code-color),
      green($code-color),
      blue($code-color),
      0.05);
  --bs-navbar-brand-color: #adadad;
  --bs-navbar-brand-hover-color: $link-color-hover;
  --bs-navbar-toggler-border-color: rgba(173, 173, 173, 0);
  // --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23adadad' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3svg xmlns='http://www.w3.org/2000/svg' viewBox='-3 -3 6 6'> <path class='sun' d='m0,-3 l1,1 1,0 0,1 1,1 -1,1 0,1 -1,0 -1,1 -1,-1 -1,0 0,-1 -1,-1 1,-1 0,-1 1,0 1,-1 0,1.5 a1,1,1,1,0,0,3 1,1,1,1,0,0,-3' /> <circle class='moon' r='1.1' /> </svg>");
}

.navbar-dark,
.navbar[data-bs-theme="light"] {
  --bs-navbar-color: #adadad;
  --bs-navbar-hover-color: $link-color-hover;
  --bs-navbar-disabled-color: rgba(173, 173, 173, 0.75);
  --bs-navbar-active-color: rgba(red($code-color),
      green($code-color),
      blue($code-color),
      0.05);
  --bs-navbar-brand-color: #adadad;
  --bs-navbar-brand-hover-color: $link-color-hover;
  --bs-navbar-toggler-border-color: rgba(173, 173, 173, 0);
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3svg xmlns='http://www.w3.org/2000/svg' viewBox='-3 -3 6 6'> <path class='sun' d='m0,-3 l1,1 1,0 0,1 1,1 -1,1 0,1 -1,0 -1,1 -1,-1 -1,0 0,-1 -1,-1 1,-1 0,-1 1,0 1,-1 0,1.5 a1,1,1,1,0,0,3 1,1,1,1,0,0,-3' /> <circle class='moon' r='1.1' /> </svg>") // url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23adadad' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  ;
}

.navbar {
  // text-align: center;
  // display: flex;
  // position: absolute;
  // color: $code-color;
  // background: $rgba(red($code-color), green($code-color), blue($code-color), 0.05);
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.0);
  border-top-left-radius: 0pt;
  border-top-right-radius: 0pt;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  // margin-left: 5%;
  // margin-right: 5%;
  // min-width: max-content;
  // max-width: min-content;
  // width: fit-content;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  box-shadow: $shadow-color 0px 2px 7px !important;
  // box-shadow: 0 1px 2px 0 rgba(60,64,67,.3),0 1px 3px 1px rgba(60,64,67,.15);
  // margin-top: 0.5rem;
  // padding-left: 40%;
  // padding-right: 40%;
}

.navbar:hover {
  border-radius: $link-border-radius;
  // background: rgba(red($code-color), green($code-color), blue($code-color), 0.05);
  // border: 1px solid oklch(from $code-color calc(1 * 1.15) c  h / 0.9);
  // background: rgba(red($code-color), green($code-color), blue($code-color), 0.05);
  // background: oklch(from $code-color calc(l * 1.15) c h / 0.1);
  // background: oklch(from $code-block-bg-color calc(l * 0.75) c h / 0.5);
  // color: $link-color-hover;
  box-shadow: $shadow-color 0px 2px 4px !important;
  width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  box-shadow: $shadow-color 0px 2px 7px !important;
  // box-shadow: 0 1px 2px 0 rgba(60,64,67,.3),0 1px 3px 1px rgba(60,64,67,.15);
  // margin-top: 0.5rem;
  // box-shadow: 0px 5px 15px 0px $shadow-color;
  // min-width: max-content;
  // max-width: min-content;
  // display: flex;
  // text-align: center;
}

.navbar .dropdown-item {
  // padding: 0.4rem 0.5rem;
  color: $link-color;
  // background: rgba(red($link-color), green($link-color), blue($link-color), 0.07);
  font-family: $font-family-headings;
  // line-height: 1.5rem;
  border-radius: $link-border-radius;
}

// img:hover, .img-fluid:hover, .reveal img:hover { 	border-radius: .25rem; 	box-shadow: rgba(0,0,0,.75) 0px 2px 5px; 	border: 1px solid #e599f7; }

.navbar .dropdown-item:hover {
  color: $link-color-hover;
  // border: 1px solid $code-fg;
  box-shadow: $code-block-hover-box-shadow;
  border: 1px solid $code-fg;
  background: oklch(from $link-color-hover calc(l * 1.15) c h / 0.1);
  border: 1px solid $link-color-hover;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding-top: $dropdown-item-padding-y var(--bs-dropdown-item-padding-x);
  // padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
  /* clear: both; */
  // font-weight: 400;
  color: var(--bs-dropdown-link-color);
  text-align: inherit;
  text-decoration: none;
  -webkit-text-decoration: none;
  -moz-text-decoration: none;
  -ms-text-decoration: none;
  -o-text-decoration: none;
  white-space: nowrap;
  border: 1px solid rgba(0, 0, 0, 0) !important;
  border-radius: $link-border-radius;
  /* background-color: rgba(0,0,0,0); */
  // border: 0;
  // border-radius: var(--bs-dropdown-item-border-radius, 0);
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: $link-color-hover;
  // background: rgba(red($link-color-hover), green($link-color-hover), blue($link-color-hover), 0.07);
  border: 1px solid $link-color-hover !important;
  background: oklch(from $link-color-hover calc(l * 1.15) c h / 0.1);
  // background: rgba(
  //   red($link-color-hover),
  //   green($link-color-hover),
  //   blue($link-color-hover),
  //   0.07
  // );
  color: $link-color-hover;
  // border: 1px solid $link-color-hover;
  box-shadow: RGBA(0, 0, 0, 0.25) 0px 2px 7px !important;
  border-radius: $link-border-radius;
}

.callout {
  border-radius: .25rem;
  overflow-wrap: break-word;
  width: 100%;
}

figure>figcaption {
  margin-top: .2em;
  text-align: center;
}

// .callout .callout-body-container {
//   padding-bottom: 0.5rem;
// }

.callout.callout-style-simple,
.callout.callout-style-default {
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  border-bottom: none !important;
  padding: 0pt 5pt;
}

// colour classes
.red {
  color: $red;
  font-weight: 700;
}

.orange {
  color: $orange;
  font-weight: 700;
}

.yellow {
  color: $yellow;
  font-weight: 700;
}

.green {
  color: $green;
  font-weight: 700;
}

.blue {
  color: $blue;
  font-weight: 700;
}

.pink {
  color: $pink;
  font-weight: 700;
}

// alignment and spacing
.center-h {
  text-align: center;
}

.right {
  text-align: right;
}

.top-quote {
  font-family: $headings-font-family;
  font-size: 275%;
}

// .top-quote {
//   font-family: $headings-font-family;
//   font-size: 275%;
// }

// icon-links
.icon-link,
div.quarto-about-jolla .about-link {
  background-color: transparent;
  color: $yellow;
  //border: 2px solid !important;
  border: 2px solid;
  border-color: $yellow;
  padding: 5px .4rem 5px .4rem !important;
  margin-top: 4px;
  margin-right: 8px;
  margin-bottom: 4px;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
}

.icon-link:hover,
div.quarto-about-jolla .about-link:hover {
  background-color: $yellow;
  color: $body-bg;
  border-color: $yellow;
  text-decoration: none;
}

.btn {
  border-radius: 5px;
}

#navbarCollapse {
  font-family: $headings-font-family;
  //	font-weight: 700;
  color: $light;
}

.navbar-title:hover {
  color: $primary;
}

/*
.navbar-expand-lg .navbar-nav .nav-link:hover,
.navbar-expand-lg .navbar-nav .nav-link.active {
	font-family: $gilbert-font-family;
}
*/

// hover on navbar
.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: $primary !important;
  text-decoration: none;
}

.navbar-expand-lg .navbar-nav .nav-link.active {
  color: $primary;
  text-decoration: none;
}

// then override colors so they match cards
#navbarCollapse>ul>li:nth-child(1)>a:hover,
#navbarCollapse>ul>li:nth-child(7)>a:hover,
#navbarCollapse>ul>li:nth-child(1)>a.nav-link.active,
#navbarCollapse>ul>li:nth-child(7)>a.nav-link.active,
nav-item tabset-1-1-tab>a:hover,
nav-item tabset-1-1-tab>a.nav-link.active {
  color: $red !important;
  background-color: oklch(from $red calc(l*1.15)c h/0.1);
  text-decoration: none;
}


#navbarCollapse>ul>li:nth-child(2)>a:hover,
#navbarCollapse>ul>li:nth-child(8)>a:hover,
#navbarCollapse>ul>li:nth-child(2)>a.nav-link.active,
#navbarCollapse>ul>li:nth-child(8)>a.nav-link.active,
#tabset-1-2-tab nav-item>a:hover,
#tabset-1-2-tab nav-item>a.nav-link.active {
  color: $orange !important;
  background-color: oklch(from $orange calc(l*1.15)c h/0.1);
}

#navbarCollapse>ul>li:nth-child(3)>a:hover,
#navbarCollapse>ul>li:nth-child(9)>a:hover,
#navbarCollapse>ul>li:nth-child(3)>a.nav-link.active,
#navbarCollapse>ul>li:nth-child(9)>a.nav-link.active,
#navbarCollapse>ul>li:nth-child(3)>a:hover,
#navbarCollapse>ul>li:nth-child(9)>a:hover {
  color: $yellow !important;
  background-color: oklch(from $yellow calc(l*1.15)c h/0.1);
}

#navbarCollapse>ul>li:nth-child(4)>a:hover,
#navbarCollapse>ul>li:nth-child(10)>a:hover,
#navbarCollapse>ul>li:nth-child(4)>a.nav-link.active,
#navbarCollapse>ul>li:nth-child(10)>a.nav-link.active {
  color: $green !important;
  background-color: oklch(from $green calc(l*1.15)c h/0.1);
}

#navbarCollapse>ul>li:nth-child(5)>a:hover,
#navbarCollapse>ul>li:nth-child(11)>a:hover,
#navbarCollapse>ul>li:nth-child(5)>a.nav-link.active,
#navbarCollapse>ul>li:nth-child(11)>a.nav-link.active {
  color: $blue !important;
  background-color: oklch(from $blue calc(l*1.15)c h/0.1);
}

#navbarCollapse>ul>li:nth-child(6)>a:hover,
#navbarCollapse>ul>li:nth-child(12)>a:hover,
#navbarCollapse>ul>li:nth-child(6)>a.nav-link.active,
#navbarCollapse>ul>li:nth-child(12)>a.nav-link.active {
  color: $pink !important;
  background-color: oklch(from $pink calc(l*1.15)c h/0.1);
}

// animated underline on hover, when navbar shows as row
@media screen and (min-width: 992px) {
  a.nav-link {
    position: relative;
  }

  .navbar .navbar-nav .nav-item {
    position: relative;
  }

  .navbar .navbar-nav .nav-item::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: $red;
    width: 0%;
    content: "";
    height: 4px;
    transition: all 0.3s;
  }

  .navbar .navbar-nav .nav-item:nth-child(2)::after,
  .navbar .navbar-nav .nav-item:nth-child(8)::after {
    background-color: $orange;
  }

  .navbar .navbar-nav .nav-item:nth-child(3)::after,
  .navbar .navbar-nav .nav-item:nth-child(9)::after {
    background-color: $yellow;
  }

  .navbar .navbar-nav .nav-item:nth-child(4)::after,
  .navbar .navbar-nav .nav-item:nth-child(10)::after {
    background-color: $green;
  }

  .navbar .navbar-nav .nav-item:nth-child(5)::after,
  .navbar .navbar-nav .nav-item:nth-child(11)::after {
    background-color: $blue;
  }

  .navbar .navbar-nav .nav-item:nth-child(6)::after,
  .navbar .navbar-nav .nav-item:nth-child(12)::after {
    background-color: $pink;
  }

  .navbar .navbar-nav .nav-item:hover::after {
    width: 90%;
  }
}

.navbar-logo {
  max-height: 36px;
  width: auto;
}



// // icon-links
// .icon-link,
// div.quarto-about-jolla .about-link {
//   background-color: transparent;
//   color: $purple;
//   //border: 2px solid !important;
//   border: 2px solid;
//   border-color: $purple;
//   padding: 5px .4rem 5px .4rem !important;
//   margin-top: 4px;
//   margin-right: 8px;
//   margin-bottom: 4px;
//   border-radius: 5px;
//   display: inline-block;
//   text-decoration: none;
// }
//
// .icon-link:hover,
// div.quarto-about-jolla .about-link:hover {
//   background-color: $purple;
//   color: $body-bg;
//   border-color: $purple;
//   text-decoration: none;
// }
//
// .btn {
//   border-radius: 5px;
// }
//
// #navbarCollapse {
//   font-family: $headings-font-family;
//   //	font-weight: 700;
// }
//
// .navbar-title:hover {
//   color: $primary;
// }
//
// /*
// .navbar-expand-lg .navbar-nav .nav-link:hover,
// .navbar-expand-lg .navbar-nav .nav-link.active {
// 	font-family: $gilbert-font-family;
// }
// */
//
// // hover on navbar
// .navbar-expand-lg .navbar-nav .nav-link:hover {
//   color: $primary;
// }
//
// .navbar-expand-lg .navbar-nav .nav-link.active {
//   color: $primary;
// }
//
// // then override colors so they match cards
// #navbarCollapse>ul>li:nth-child(1)>a:hover,
// #navbarCollapse>ul>li:nth-child(7)>a:hover,
// #navbarCollapse>ul>li:nth-child(1)>a.nav-link.active,
// #navbarCollapse>ul>li:nth-child(7)>a.nav-link.active {
//   color: $red;
// }
//
// #navbarCollapse>ul>li:nth-child(2)>a:hover,
// #navbarCollapse>ul>li:nth-child(8)>a:hover,
// #navbarCollapse>ul>li:nth-child(2)>a.nav-link.active,
// #navbarCollapse>ul>li:nth-child(8)>a.nav-link.active {
//   color: $orange;
// }
//
// #navbarCollapse>ul>li:nth-child(3)>a:hover,
// #navbarCollapse>ul>li:nth-child(9)>a:hover,
// #navbarCollapse>ul>li:nth-child(3)>a.nav-link.active,
// #navbarCollapse>ul>li:nth-child(9)>a.nav-link.active {
//   color: $yellow;
// }
//
// #navbarCollapse>ul>li:nth-child(4)>a:hover,
// #navbarCollapse>ul>li:nth-child(10)>a:hover,
// #navbarCollapse>ul>li:nth-child(4)>a.nav-link.active,
// #navbarCollapse>ul>li:nth-child(10)>a.nav-link.active {
//   color: $green;
// }
//
// #navbarCollapse>ul>li:nth-child(5)>a:hover,
// #navbarCollapse>ul>li:nth-child(11)>a:hover,
// #navbarCollapse>ul>li:nth-child(5)>a.nav-link.active,
// #navbarCollapse>ul>li:nth-child(11)>a.nav-link.active {
//   color: $blue;
// }
//
// #navbarCollapse>ul>li:nth-child(6)>a:hover,
// #navbarCollapse>ul>li:nth-child(12)>a:hover,
// #navbarCollapse>ul>li:nth-child(6)>a.nav-link.active,
// #navbarCollapse>ul>li:nth-child(12)>a.nav-link.active {
//   color: $pink;
// }
//
// // animated underline on hover, when navbar shows as row
// @media screen and (min-width: 992px) {
//   a.nav-link {
//     position: relative;
//     text-decoration: none;
//   }
//
//   .navbar .navbar-nav .nav-item {
//     position: relative;
//   }
//
//   .navbar .navbar-nav .nav-item::after {
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     margin: auto;
//     background-color: $red;
//     width: 0%;
//     content: "";
//     height: 4px;
//     transition: all 0.3s;
//   }
//
//   .navbar .navbar-nav .nav-item:nth-child(2)::after,
//   .navbar .navbar-nav .nav-item:nth-child(8)::after {
//     background-color: $orange;
//   }
//
//   .navbar .navbar-nav .nav-item:nth-child(3)::after,
//   .navbar .navbar-nav .nav-item:nth-child(9)::after {
//     background-color: $yellow;
//   }
//
//   .navbar .navbar-nav .nav-item:nth-child(4)::after,
//   .navbar .navbar-nav .nav-item:nth-child(10)::after {
//     background-color: $green;
//   }
//
//   .navbar .navbar-nav .nav-item:nth-child(5)::after,
//   .navbar .navbar-nav .nav-item:nth-child(11)::after {
//     background-color: $blue;
//   }
//
//   .navbar .navbar-nav .nav-item:nth-child(6)::after,
//   .navbar .navbar-nav .nav-item:nth-child(12)::after {
//     background-color: $pink;
//   }
//
//   .navbar .navbar-nav .nav-item:hover::after {
//     width: 90%;
//   }
// }
//
//
